.styled-textarea{
    display: block;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #d2d7d3;
    color: #666666;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    padding: 10px 12px;
    resize: none;
}

.load-files{
    width: 93px;
    height: 68px;
    border: 1px solid #cecece;
    border-radius: 5px;
    position: relative;
    float: left;
    margin: 0 15px 15px 0;
    background: white;
    padding: 6px;
}

/*.load-files:nth-child(4n+4){*/
    /*margin-right: 0;*/
/*}*/

.load-files input[type=file]{
    display: none;
}

.load-files a{
    display: block;
    text-align: center;
    position: absolute;
    top: 30%;
    width: 100%;
    left: 0;
    font-size: 22px;
    color: #7b7b7b;
}

.load-files img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.load-files i:not(.fa-plus-circle){
    font-size: 22px;
    position: absolute;
    z-index: 2;
    top: -10px;
    right: -7px;
    color: #26a65c;
    cursor: pointer;
}

.btn-sm{
    padding: 5px 15px!important;
}

.reset-filter{
    width: 20px;
    height: 20px;
    position: relative;
    float: right;
    opacity: .5;
    margin-left: 10px;
}

.reset-filter:after{
    position: absolute;
    height: 100%;
    width: 2px;
    right: 10px;
    top: 0;
    content: '';
    background: gray;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.reset-filter:before{
    position: absolute;
    height: 100%;
    width: 2px;
    right: 10px;
    top: 0;
    content: '';
    background: gray;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.save-filter{
    display: block;
    float: right;
    background: url("../images/filter-title-ico.png");
    width: 20px;
    height: 20px;
}

.write-note i{
    font-size: 20px;
    color: #999999;
}

.write-note.active i{
    color: #26a65b;
}

.maps-item-box{
    position: absolute;
    top: 2%;
    display: none;
    width: 90%;
    left: 5%;
    z-index: 101;
    background: white;
}

.backdoor{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, .5);
    display: none;
}

.maps-item-box .res{
    padding: 30px 50px;
}

.maps-item-box .close{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
}

.maps-item-box .close:before{
    position: absolute;
    top: 0;
    right: 0;
    background: gray;
    height: 100%;
    width: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
}

.maps-item-box .close:after{
    position: absolute;
    top: 0;
    right: 0;
    background: gray;
    height: 100%;
    width: 3px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: '';
}

.sub-menu{
    margin-left: 30px;
}

.sub-menu li{
    padding: 5px 10px;
}

.sub-menu li a{
    height: 30px;
    line-height: 30px;
}

.steps-box .btn-group{
    margin-bottom: 20px;
}

#map{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.main-navigate{
    border-radius: 6px 0 6px 6px!important;
}

.poper-modal{
    border: 1px solid #009b4e!important;
    min-width: 200px!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    border-radius: 5px;
    left: 0!important;
    top: 40px!important;
}

.poper-modal a{
    color: black!important;
}

.poper-modal a:hover{
    color: #009b4e!important;
}

@media (max-width: 1200px) {
    .user-top-proff .action{
        display: none;
    }

    .header-menu li{
        margin-right: 15px;
    }

    .header-menu{
        margin-top: 15px;
    }
}